<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="umetani.rolan.co.jp.samplecollection">

    <!-- it's for connecting network -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- it's for check network statement -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".sample.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".sample.bgoperation.BGOperationMenuActivity"
            android:label="@string/title_activity_bgoperation_menu"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="umetani.rolan.co.jp.samplecollection.sample.MainActivity" />
        </activity>

        <service
            android:name=".sample.bgoperation.MyIntentService"
            android:exported="false" />

        <activity
            android:name=".sample.fragment.FragmentSampleActivity"
            android:label="@string/title_activity_fragment_sample"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".sample.networking.NetworkingActivity"
            android:label="@string/title_activity_networking"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
